@tailwind base;
@tailwind components;
@tailwind utilities;

.showName{
     position:absolute;
     right: 160px;
     width: 200px;
     top: 24px;
     text-align: right;
}
/* .bgImg {
     background-image: url(./assets/imgList/register-3.jpg);
     background-size: cover;
} */