@tailwind base;
@tailwind components;
@tailwind utilities;
*{
     box-sizing: border-box;
}

.showName{
     position:absolute;
     right: 160px;
     width: 200px;
     top: 24px;
     text-align: right;
}
/* .bgImg {
     background-image: url(./assets/imgList/register-3.jpg);
     background-size: cover;
} */

.customMenu li:hover {
     background-color:#6D6E74;
     border-radius: 10px;
     color: white;
}
.posiButton {
     bottom: -22px;
     right: -20px;
}
.drawer-side a.active {
     color: red;
}
